@model UAF_Frontend_Registration.Models.User

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fido Registration</h1>
    <p>Login by Your Staff Account</p>
</div>

